.image[data-loaded='false'] {
    background: light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-7));
    animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
    50% {
        opacity: .7;
    }
}