.container {
    display: flex;
    gap: var(--mantine-spacing-lg);
    padding: rem(40) rem(32);
    @mixin smaller-than $mantine-breakpoint-xs {
        padding: rem(40) rem(16);
        flex-direction: column;
        gap: rem(16);
    }
    @mixin smaller-than $mantine-breakpoint-lg {
        flex-wrap: wrap;
    }
}

.creators {
    width: 100%;
    max-width: rem(256);
    @mixin smaller-than $mantine-breakpoint-lg {
        max-width: none;
    }
}

.content {
    width: 100%;
    flex: 1 0;
    @mixin smaller-than $mantine-breakpoint-md {
        flex: 1 1;
    }
    @mixin larger-than $mantine-breakpoint-lg {
        max-width: rem(600);
    }
}

.posterWrapper {
    
    @mixin larger-than $mantine-breakpoint-md {
        width: rem(270);
    }
    @mixin smaller-than $mantine-breakpoint-md {
        width: rem(230);
        & .posterImage {
            height: auto;
            width: 230px;
            
            aspect-ratio: 6 / 9;
        }
    }
    @mixin smaller-than $mantine-breakpoint-xs {
        aspect-ratio: auto;
        width: 100%;
        & .poster {
            width: rem(230);
            margin-inline: auto;
        }
    }
    @media (max-width: $mantine-breakpoint-sm) and (min-width: $mantine-breakpoint-xs) {
        width: rem(180);
        & .posterImage {
            height: auto;
            width: 180px;
            
            aspect-ratio: 6 / 9;
        }
        aspect-ratio: 6 / 9;
    }
}
.poster {
    margin-bottom: rem(24);
}
.posterImage {
    border-radius: rem(8);
    object-fit: cover;
}

.posterBackground {
    @mixin larger-than $mantine-breakpoint-xs {
        display: none;
    }
    z-index: -1;
    position: absolute;
    margin-top: -40px;
    left: 0;
    width: 100%;
    & .overlay {
        background: linear-gradient(
            0deg,
            var(--mantine-color-body) 20%,
            alpha(var(--mantine-color-body), 0.3)
        );
        width: 100%;
        top: 0;
        bottom: 0;
        position: absolute;
        backdrop-filter: blur(24px);
    }
    & img {
        height: auto;
        width: 100%;
    }
}
