// Начать читать
color: 'white';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 letterSpacing: 0.16;
 wordWrap: 'break-word'
---
// В закладки 
color: 'rgba(0;
 0;
 0;
 0.70)';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 letterSpacing: 0.16;
 wordWrap: 'break-word'
---
// Создатели
color: 'black';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 30;
 letterSpacing: 0.20;
 wordWrap: 'break-word'
---
// The Beginning after the end
color: '#111111';
 fontSize: 20;
 fontFamily: 'Sofia Sans';
 fontWeight: '400';
 lineHeight: 25;
 letterSpacing: 0.20;
 wordWrap: 'break-word'
---
// Начало после конца
color: '#111111';
 fontSize: 35;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 43.75;
 letterSpacing: 0.35;
 wordWrap: 'break-word'
---
// Бывший Король материального мира брошен сквозь время и вселенную в неизвестное государство. Найдет ли он силы вырасти в другом мире начиная с младенческого возраста?
color: '#111111';
 fontSize: 14.47;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 21.70;
 wordWrap: 'break-word'
---
// Эльфы
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Монстры
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Магия
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Веб
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Исекай
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Артефакты
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Фэнтези
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// показать все (+27)
color: '#02B3EB';
 fontSize: 14.47;
 fontFamily: 'Roboto';
 fontWeight: '400';
 textDecoration: 'underline';
 wordWrap: 'break-word'
---
// Эльфы
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Монстры
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Магия
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Веб
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Исекай
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Артефакты
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// Фэнтези
color: '#292929';
 fontSize: 12.40;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12.40;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// показать все (+27)
color: '#02B3EB';
 fontSize: 14.47;
 fontFamily: 'Roboto';
 fontWeight: '400';
 textDecoration: 'underline';
 wordWrap: 'break-word'
---
// Рейтинг
color: 'rgba(0;
 0;
 0;
 0.70)';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// 9.2 
color: '#292929';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 22.50;
 letterSpacing: 0.18;
 wordWrap: 'break-word'
---
// (3K)
color: '#292929';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 22.50;
 letterSpacing: 0.18;
 wordWrap: 'break-word'
---
// Просмотров
color: 'rgba(0;
 0;
 0;
 0.70)';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// 5.28К
color: '#292929';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 22.50;
 letterSpacing: 0.18;
 wordWrap: 'break-word'
---
// В закладках
color: 'rgba(0;
 0;
 0;
 0.70)';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// 5.28К
color: '#292929';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 22.50;
 letterSpacing: 0.18;
 wordWrap: 'break-word'
---
// Понравилось
color: 'rgba(0;
 0;
 0;
 0.70)';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 12;
 letterSpacing: 0.12;
 wordWrap: 'break-word'
---
// 5.28К
color: '#292929';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 22.50;
 letterSpacing: 0.18;
 wordWrap: 'break-word'
---
// Информация
color: '#02B3EB';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 letterSpacing: 0.16;
 wordWrap: 'break-word'
---
// Главы (99)
color: 'rgba(0;
 0;
 0;
 0.70)';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 letterSpacing: 0.16;
 wordWrap: 'break-word'